* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
    scroll-behavior: smooth;
}

body {
    background-color: #0f0f0f;
    color: #fff;
}


/* Navigation Bar */
nav {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: large;
    font-weight: 600;
    top: 0;
}

nav .logo {
    text-decoration: none;
    color: #fff;
    margin-right: auto;
    margin-left: 50px;
    font-size: x-large;
    font-weight: 700;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
}


nav ul li {
    list-style: none;
    display: inline;
    letter-spacing: 2px;
}


nav ul li a {
    display: block;
    position: relative;
    text-decoration: none;
    padding: 0 5px;
    margin: 0 30px;
    color: #fff;  
}

nav ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #00ADB5;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

nav ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


/* Typewriter Effect */
.main {
    /* margin-top:  100px; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.intro {
    font-size: 30px;
    letter-spacing: 4px;
    padding: 0px 15px;
}

.intro span {
    /* margin-left: 3px; */
    font-weight: 400;
    color: #00ADB5;
}


/* Mouse Scroll Animation*/
.mouse {
    margin-top: 20px;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 22px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 15px;
}

.mouse::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
    border: 2px solid white;
    border-radius: 15px;
    animation: mouse-scroll 1.75s infinite;
}

@keyframes mouse-scroll {
    from {
        opacity: 1;
        top: 10px;
    }
    to {
        opacity: 0;
        top: 25px;
    }
}


/* About Me */
.about-me {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.about-me .section-title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
    letter-spacing: 3px;
}

.about-me p {
    font-size: 20px;
    margin-bottom: 30px;
}


/* Projects */
.projects {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    /* border: 1px solid red; */
}

.projects .section-title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
    letter-spacing: 3px;
}

.projects .projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-bottom: 50px;
    /* width: calc((100vh - 200) / 3); 100vh is the width of the screen and -200 is .projects{} margin on the left and right */
}

.projects-grid .projects-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;


    border: 4px solid #18181b;
    border-radius: 10px;
    background-color: #18181b;
    height: 35vh;
    
}

.project-title {
    font-size: 23px;
    font-weight: 500;
    letter-spacing: 2px;
    /* width: 100%; Ensure h1 takes the full width */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2px 5px;
}

.project-title i {
    color: #00ADB5;
}

.project-desc {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    height: 100%; /* Takes the remaining space */
    color: white; /* Adjust as necessary */
    margin: 0px 5px;
}

.project-tools ul{
    list-style: none;
    display: flex;
    position: static;
}

.project-tools ul li{
    border: 1px solid #00ADB5;
    background-color: #00ADB5;
    color: #fff;
    border-radius: 16px;
    margin: 10px 5px;
    padding: 3px 8px;
    font-size: 13px;
    font-weight: 500;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* Contact */
.contact {
    margin: 0px 50px;
}
.contact .section-title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
    letter-spacing: 3px;
}

.contact p {
    margin-bottom: 30px;
}

.contact a {
    color: #fff;
    margin-right: 15px;
}

.contact a:hover {
    color:#00ADB5;
    transition: all 0.5s ease;
}


/* Footer */
footer {
    background-color: #000;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}

