* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
    scroll-behavior: smooth;
}

body {
    background-color: #000;
    color: #fff;
}

nav {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: large;
    font-weight: 600;
    top: 0;
}

nav .logo {
    text-decoration: none;
    color: #000;
    margin-right: auto;
    margin-left: 50px;
    font-size: x-large;
    font-weight: 800;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
}


ul li {
    list-style: none;
    display: inline;
    letter-spacing: 2px;
}


ul li a {
    display: block;
    position: relative;
    text-decoration: none;
    padding: 0 5px;
    margin: 0 30px;    
}

ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #00ADB5;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.main {
    /* margin-top:  100px; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.intro {
    font-size: 40px;
    letter-spacing: 4px;
    
}

.intro span {
    margin-left: 5px;
    font-weight: 400;
    color: #00ADB5;
}